<footer fxHide.md fxHide.lg fxHide.xl class="ampstart-footer ffooter deskhide">
    <!-- <div fxHide.md fxHide.lg fxHide.xl> -->
    <nav class="mx-auto max-width-5 px0 flex mb3">
        <div id="prop-accordion" class="prop-accordion i-amphtml-element i-amphtml-layout-container i-amphtml-layout">
            <section id="first">
                <h5 class="i-amphtml-accordion-header" role="button" aria-controls="prop-accordion_AMP_content_0"
                    aria-expanded="false" tabindex="0" [ngClass]="showList.list1 === true ? 'new': ''"
                    (click)="showList.list1 = !showList.list1">About Us</h5>
                <div *ngIf="showList.list1" class="flex-column content i-amphtml-accordion-content"
                    id="prop-accordion_AMP_content_0">
                    <ul class="p0 m0 list-style-none">
                        <li><a href="">Our background</a></li>

                        <li><a href="">Press room</a></li>
                        <li><a href="">Reviews &amp; Testimonials</a></li>
                    </ul>
                </div>
            </section>

            <section id="second">
                <h5 class="i-amphtml-accordion-header" role="button" aria-controls="prop-accordion_AMP_content_0"
                    aria-expanded="false" tabindex="0" [ngClass]="showList.list2 === true ? 'new ': ''"
                    (click)="showList.list2 = !showList.list2">Membership</h5>
                <div *ngIf="showList.list2" class="flex-column content i-amphtml-accordion-content"
                    id="prop-accordion_AMP_content_0">
                    <ul class="p0 m0 list-style-none">
                        <li><a href="">Membership Options</a></li>

                        <li><a href="">Membership Benefits</a></li>
                    </ul>
                </div>
            </section>

            <section id="third">
                <h5 class="i-amphtml-accordion-header" role="button" aria-controls="prop-accordion_AMP_content_0"
                    aria-expanded="false" tabindex="0" [ngClass]="showList.list3 === true ? 'new ': ''"
                    (click)="showList.list3 = !showList.list3">Customer Service</h5>
                <div *ngIf="showList.list3" class="flex-column content i-amphtml-accordion-content"
                    id="prop-accordion_AMP_content_0">
                    <ul class="p0 m0 list-style-none">
                        <li><a href="">Member's Area</a></li>
                        <li><a href="">Contact US</a></li>
                        <li><a href="">Membership Enquiry</a></li>
                        <li><a href="">Website Feedback</a></li>
                        <li><a href="">FAQs</a></li>
                    </ul>
                </div>
            </section>
        </div>
    </nav>
    <div class="global-footer max-width-5 mx-auto px1 pt1 flex flex-wrap">
        <div class="legals col-12 mb2">
            <div class="i-amphtml-element i-amphtml-layout-fixed i-amphtml-layout-size-defined i-amphtml-layout">
                <a routerLink="/" class="logo i-amphtml-fill-content i-amphtml-replaced-content">FitnessTREAT</a>
            </div>
            <small>Official fitness apparel partner</small>
        </div>
        <div class="legals mb2 col-12">
            <small> © FitnessTREAT Pvt Ltd 2020 </small>
        </div>
        <div class="social-icons">
            <ul class="social p0 m0 list-style-none right-align">
                <li>
                    <a href="" title="facebook">
                        <div width="27" height="24"
                            class="i-amphtml-element i-amphtml-layout-fixed i-amphtml-layout-size-defined i-amphtml-layout">
                            <img src="../../assets/images/facebook-icon.png" alt="facebook-icon"
                                class="i-amphtml-fill-content i-amphtml-replaced-content">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="" title="twitter">
                        <div width="27" height="24"
                            class="i-amphtml-element i-amphtml-layout-fixed i-amphtml-layout-size-defined i-amphtml-layout">
                            <img src="../../assets/images/twitter-icon.png" alt="twitter-icon"
                                class="i-amphtml-fill-content i-amphtml-replaced-content">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="" title="youTube">
                        <div width="27" height="24"
                            class="i-amphtml-element i-amphtml-layout-fixed i-amphtml-layout-size-defined i-amphtml-layout">
                            <img src="../../assets/images/youtube-icon.png" alt="youtube-icon"
                                class="i-amphtml-fill-content i-amphtml-replaced-content">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="" title="Instagram">
                        <div width="27" height="24"
                            class="i-amphtml-element i-amphtml-layout-fixed i-amphtml-layout-size-defined i-amphtml-layout">
                            <img src="../../assets/images/Instagram-icon.png" alt="instagram-icon">
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- </div> -->
</footer>

<footer fxHide.sm fxHide.xs class="ampstart-footer ffooter mobhide">
    <nav class="mx-auto max-width-5 px1 flex mb3">
        <div class="flex-column">
            <h5>About Us</h5>
            <ul class="p0 m0 list-style-none">
                <li><a href="">Our Background</a></li>
                <li><a href="">Press room</a></li>
                <li><a href="">Reviews &amp; Testimonials</a></li>
            </ul>
        </div>

        <div class="flex-column">
            <h5>Membership</h5>
            <ul class="p0 m0 list-style-none">
                <li><a href="">Membership Options</a></li>

                <li><a href="">Membership Benefits</a></li>
            </ul>
        </div>
        <div class="flex-column">
            <h5>Customer Service</h5>
            <ul class="p0 m0 list-style-none">
                <li><a href="">Member's Area</a></li>
                <li><a href="">Contact US</a></li>
                <li><a href="">Membership Enquiry</a></li>
                <li><a href="">Website Feedback</a></li>
                <li><a href="">FAQs</a></li>
            </ul>
        </div>
    </nav>

    <div class="global-footer max-width-5 mx-auto px1 pt1 flex flex-wrap flex-reverse">
        <div class="legals column-6 right-align mb2">
            <div class="i-amphtml-element i-amphtml-layout-fixed i-amphtml-layout-size-defined i-amphtml-layout">
                <a routerLink="/" class="logo i-amphtml-fill-content i-amphtml-replaced-content">FitnessTREAT</a>
            </div>
            <small>Official fitness apparel partner</small>
        </div>
        <div class="legals mb2 col-12 column-6">
            <small> © Fitness First India Pvt Ltd 2015 </small>
        </div>
        <div class="col-12">
            <ul class="social p0 m0 list-style-none right-align">
                <li>
                    <a href="" title="facebook">
                        <div width="27" height="24"
                            class="i-amphtml-element i-amphtml-layout-fixed i-amphtml-layout-size-defined i-amphtml-layout">
                            <img src="../../assets/images/facebook-icon.png" alt="facebook-icon"
                                class="i-amphtml-fill-content i-amphtml-replaced-content">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="" title="twitter">
                        <div width="27" height="24"
                            class="i-amphtml-element i-amphtml-layout-fixed i-amphtml-layout-size-defined i-amphtml-layout">
                            <img src="../../assets/images/twitter-icon.png" alt="twitter-icon"
                                class="i-amphtml-fill-content i-amphtml-replaced-content">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="" title="youTube">
                        <div width="27" height="24"
                            class="i-amphtml-element i-amphtml-layout-fixed i-amphtml-layout-size-defined i-amphtml-layout">
                            <img src="../../assets/images/youtube-icon.png" alt="youtube-icon"
                                class="i-amphtml-fill-content i-amphtml-replaced-content">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="" title="Instagram">
                        <div width="27" height="24"
                            class="i-amphtml-element i-amphtml-layout-fixed i-amphtml-layout-size-defined i-amphtml-layout">
                            <img src="../../assets/images/Instagram-icon.png" alt="instagram-icon">
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>

