<mat-nav-list id="nav-list">
    <a mat-list-item routerLink="/signup" (click)="onClose()" *ngIf="!(isAuth$ | async)">
        <mat-icon>face</mat-icon>
        <span class="nav-caption">SignUp</span>
        <mat-icon fxFlex fxLayout fxLayoutAlign="flex-end">double_arrow</mat-icon>

    </a>
    <a mat-list-item routerLink="/login" (click)="onClose()" *ngIf="!(isAuth$ | async)">
        <mat-icon>lock_open</mat-icon>
        <span class="nav-caption">SignIn</span>
        <mat-icon fxFlex fxLayout fxLayoutAlign="flex-end">double_arrow</mat-icon>

    </a>
    <a mat-list-item routerLink="/training" (click)="onClose()" *ngIf="(isAuth$ | async)">
        <mat-icon>business</mat-icon>
        <span class="nav-caption">Training</span>
        <mat-icon fxFlex fxLayout fxLayoutAlign="flex-end">double_arrow</mat-icon>
    </a>
    
    <mat-list-item (click)="onLogout()" *ngIf="(isAuth$ | async)">
        <button mat-icon-button>
            <mat-icon>eject</mat-icon>
            <span class="nav-caption">SignOut</span>
        </button>
        <!-- <mat-icon fxFlex fxLayout fxLayoutAlign="flex-end"  class="signout">double_arrow</mat-icon> -->

        <div class="center-con signout" fxFlex fxLayout fxLayoutAlign="flex-end"  class="">
    
            <div class="round">
                <span  class="span"></span>
                <span class="span"></span>
                <span class="span"></span>
                <span class="span"></span>
            </div>
            
        </div>
    </mat-list-item>
</mat-nav-list>