a{
    color: white;
    text-decoration: none;

}
a:hover, a:active{
    color: lightgray;
}
.navigation-items{
    list-style: none;
    padding: 0;
    margin: 0;
}
.nav-caption{
display: inline-block;
padding-left: 8px;
}

#nav-list {
    position: relative;;
    z-index:1000;
    /* background-color:red; */

}
#nav-list a,#nav-list  mat-list-item{
    color: ghostwhite;
}
::ng-deep .mat-drawer{
    background-color: #1f1f1f;
    margin-top: 56px;
    max-width: 100%;
}
 #nav-list a :last-child:hover , .signout:hover {
    color: #c8102e;
    transition: 1.3s ease-in-out;
}

@media only screen and (min-width: 600px){
    ::ng-deep .mat-drawer{
        display: none;
    }
} 


/* .center-con {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
} */

.round {
    position: relative;
    border: none;
    width: 28px;
    height: 28px;
    border-radius: 100%;
}

.span {
    z-index: 999;
    height: 4px;
    margin:2px;
    width: 13px;
    background: #fff;
    transition: 0.4s ease;
}

.span:first-child {
    display: block;
    position: absolute;
    transform: rotate(45deg);
    left: 10%;
    bottom: 30%;
}

.span:nth-child(2) {
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    left: 38%;
    bottom: 30%;
}

.span:nth-child(3) {
    display: block;
    position: absolute;
    transform: rotate(45deg);
    left: 13%;
    bottom: 54%;
}

.span:nth-child(4) {
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    left: 37%;
    bottom: 54%;
}

.round:hover span:nth-child(1) {
    transform: rotate(-135deg);
}

.round:hover span:nth-child(2) {
    transform: rotate(135deg);
}

.round:hover span:nth-child(3) {
    transform: rotate(225deg);
}

.round:hover span:nth-child(4) {
    transform: rotate(-225deg);
}